@page "/"
@using Sample.Contracts
@implements IEventHandler<MyMessageEvent>
@inject AppSqliteConnection conn

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    // TODO: should nav to another page to test that this disconnects
    public async Task Handle(MyMessageEvent @event, EventContext<MyMessageEvent> context, CancellationToken cancellationToken)
    {
        await conn.Log("BlazorPage-Home.razor", @event);
    }
}